@import "tailwindcss";

@theme {
  --color-lemon-lime: oklch(86.16% 0.17742 110.677);
}

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    appearance: textfield;
  }
}